<section>
    <include src="./sections-cards-header.html" title="Diseña" icon="fa fa-object-ungroup">
        <!-- <i class="article__list--icon fa fa-object-ungroup"
            aria-hidden="true">
        </i> -->
    </include>

    <div class="design">
        <h3 class="design__title">Colores</h3>
        <div class="design__container">
            <div class="design__palette">
                <label class="design__label">
                    <input class=" design__radio" bh type="radio" name="palette" />
                    <ul class="design__square">
                        <li class="design__square--color color1">Color 1</li>
                        <li class="design__square--color color2">Color 2</li>
                        <li class="design__square--color color3">Color 3</li>
                    </ul>
            </div>
            <div class="design__palette">
                </label>
                <label class="design__label">
                    <input class=" design__radio" type="radio" name="palette" />
                    <ul class="design__square">
                        <li class="design__square--color color 4">Color 1</li>
                        <li class="design__square--color color5">Color 2</li>
                        <li class="design__square--color color6">Color 3</li>
                    </ul>
            </div>
            <div class="design__palette">
                </label>
                <label class="design__label">
                    <input class=" design__radio" type="radio" name="palette" />
                    <ul class="design__square">
                        <li class="design__square--color color7 ">Color 1</li>
                        <li class="design__square--color color8">Color 2</li>
                        <li class="design__square--color color9">Color 3</li>
                    </ul>
                </label>
            </div>
        </div>
    </div>
</section>