<section class=" js-collapsable-container">
    <include src="./sections-cards-header.html" title="Diseña" icon="fa fa-object-ungroup ">
    </include>

    <div class="design hidden__container collapsable--close">
        <h3 class="design__title">Colores</h3>
        <div>
            <div class="design__palette">
                <label class="design__label">
                    <input class=" design__radio js-palette js-paletteDefault" type="radio" name="palette" value="1"
                        checked />
                    <ul class="design__square palette-1">
                        <li class="design__square--color color1">Color 1</li>
                        <li class="design__square--color color2">Color 2</li>
                        <li class="design__square--color color3">Color 3</li>
                    </ul>
            </div>
            <div class="design__palette">
                </label>
                <label class="design__label">
                    <input class=" design__radio js-palette" type="radio" name="palette" value="2" />
                    <ul class="design__square palette-2">
                        <li class="design__square--color color1">Color 1</li>
                        <li class="design__square--color color2">Color 2</li>
                        <li class="design__square--color color3">Color 3</li>
                    </ul>
            </div>
            <div class="design__palette">
                </label>
                <label class="design__label">
                    <input class=" design__radio js-palette" type="radio" name="palette" value="3" />
                    <ul class="design__square  palette-3">
                        <li class="design__square--color color1">Color 1</li>
                        <li class="design__square--color color2">Color 2</li>
                        <li class="design__square--color color3">Color 3</li>
                    </ul>
                </label>
            </div>
            <div class="design__palette">
                </label>
                <label class="design__label">
                    <input class=" design__radio js-palette" type="radio" name="palette" value="4" />
                    <ul class="design__square palette-4">
                        <li class="design__square--color color1">Color 1</li>
                        <li class="design__square--color color2">Color 2</li>
                        <li class="design__square--color color3">Color 3</li>
                    </ul>
                </label>
            </div>
        </div>
    </div>
</section>