<section class="fill js-collapsable-container collapsable--close">
    <include src="./sections-cards-header.html" title="Rellena" icon="fa fa-keyboard-o"></include>

    <div class="hidden__container fill__form">
        <label class="fill__form--labels" for="fullName">Nombre completo*</label>
        <input id="fullName" type="text" name="fullName" placeholder="Ej: Sally Jill"
            class="fill__form--inputs js-name js-input-name js-input-text">
        <label class="fill__form--labels" for="position">Puesto*</label>
        <input id="position" type="text" name="position" placeholder="Ej: Front-end unicorn"
            class="fill__form--inputs js-position js-input-job js-input-text">
        <div class="fill__form--image-profile">
            <span class="fill__form--labels">Imagen de perfil*</span>

            <div class="button-box-container">
                <label class="fill__form--button js__profile-trigger" for="add">Añadir imagen</label>
                <input type="file" name="" id="add" class="js__profile-upload-btn" />
                <span class="fill__form--box js__profile-preview"></span>
            </div>
        </div>
        <label class="fill__form--labels" for="">Email*</label>
        <input id="emailAddress" type="email" name="emailAddress" placeholder="Ej: sally-hill@gmail.com"
            class="fill__form--inputs js-input-email js-input-text" value=" ">
        <label class="fill__form--labels" for="telephone">Teléfono*</label>
        <input id="telephone" type="tel" name="telephone" placeholder="Ej: 555-55-55-55"
            class="fill__form--inputs js-input-phone js-input-text">

        <label class="fill__form--labels" for="linkedin">Linkedin*</label>
        <input id="linkedin" type="url" name="linkedin" placeholder="Ej: linkedin.com/in/sally.hill"
            class="fill__form--inputs js-input-linkedin js-input-text">

        <label class="fill__form--labels" for="github">Github*</label>
        <input id="github" type="url" name="github" placeholder="Ej: @sally-hill"
            class="fill__form--inputs js-input-github js-input-text ">
    </div>

</section>