<main class="main central-column">
    <div class="transparent-container">
        <h1 class="main__title"> Crea tu tarjeta de visita</h1>

        <h2 class="main__subtitle">Crea mejores contactos profesionales de forma fácil y cómoda</h2>

        <article class="article">

            <ol class="article__list">
                <li class="article__list--item">Diseña<i class="article__list--icon fa fa-object-ungroup"
                        aria-hidden="true">
                    </i> </li>
                <li class="article__list--item">Rellena <i class="article__list--icon fa fa-keyboard-o"
                        aria-hidden="true"></i></i> <!-- buscar icono -->
                </li>
                <li class="article__list--item">Comparte<i class="article__list--icon  fa fa-share-alt"
                        aria-hidden="true"></i>
                </li>
            </ol>
        </article>
    </div>

    <div class="main__button">
        <a class="main__button--link" href="./cards.html">Comenzar</a>
    </div>

</main>