<section class="photo">

    <div class="photo-container">
        <div class="photo-button ">
            <button class="photo-button__link js-reset">Reset</button>
            <i class="fa fa-trash" aria-hidden="true"></i>
        </div>

        <article class="photocard js-card palette-1">
            <div class="container">
                <div class="tittlescontainer">
                    <h2 class=" photocard__title js-preview-name js-card-name js-input-text">Nombre apellido</h2>
                    <p class=" photocard__title2 js-preview-position js-card-job js-input-text">Front-end developer</p>
                </div>
            </div>
            <div class="photocard__img js__profile-image"></div>
            <ul class="photocard__list">
                <li class="photocard__list--item">
                    <a href="" class=" photocard__list--link icon fa fa-mobile js-card-phone  js-input-text"></a>
                </li>

                <li class="photocard__list--item">
                    <a href="" class=" photocard__list--link icon fa fa-envelope js-card-email  js-input-text"></a>
                </li>

                <li class="photocard__list--item">
                    <a href="" class=" photocard__list--link js-card-linkedin icon fa fa-linkedin  js-input-text"></a>
                </li>
                <li class="photocard__list--item">
                    <a href="" class=" photocard__list--link js-card-github icon fa fa-github-alt  js-input-text"></a>
                </li>
            </ul>
        </article>
    </div>

</section>