<section class="photo">
    <div class="photo-container">
        <div class="photo-button ">
            <a class="photo-button__link" href=""><i class="fa fa-trash" aria-hidden="true"></i>Reset</a>
        </div>

        <article class="photocard">
            <div class=container>
                <div class=tittlescontainer>
                    <h2 class="photocard__title js-preview-name">Nombre apellido</h2>
                    <p class="photocard__title2 js-preview-position">Front-end developer</p>
                </div>
            </div>
            <img class="photocard__img"
                src="https://previews.123rf.com/images/creativenature/creativenature1603/creativenature160300128/54982244-hablando-de-%C3%A1rbol-con-la-cara-feliz-como-un-concepto-para-la-conciencia-ambiental.jpg"
                alt="" />
            <ul class="photocard__list">
                <li class="photocard__list--item">
                    <a href="" class="photocard__list--link icon fa fa-mobile"></a>
                </li>

                <li class="photocard__list--item">
                    <a href=" " class="photocard__list--link icon fa fa-envelope js-mail-icon"></a>
                </li>

                <li class="photocard__list--item">
                    <a href="" class="photocard__list--link icon fa fa-linkedin"></a>
                </li>
                <li class="photocard__list--item">
                    <a href="" class="photocard__list--link icon fa fa-github-alt"></a>
                </li>
            </ul>
        </article>
    </div>

</section>