<section class="sharecards js-collapsable-container collapsable--close">
  <include src="./sections-cards-header.html" icon="fa fa-share-alt" aria-hidden="true" title="Comparte"></include>
  <!--Share open-->

  <div class="section__share__container hidden__container">
    <button class="button__create js-create-btn js-collapsable-container js-hidden">
      <i class="fa fa-address-card-o" aria-hidden="true"></i>Crear tarjeta
    </button>

    <div class="section__share__create js-card-result js-hidden-collapsable hidden"></div>
  </div>

</section>