* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0;
  list-style-type: none;
  font-family: $font-primary;
}
.central-column {
  padding: 0px 35px;
  @media all and (min-width: 768px) {
    padding: 0px 175px;
  }
}
main {
 height: 46.68vh;

}
header {
  height:33.98vh;
}

footer {
 height: 19,33vh;

}