//Fonts
$font-primary: "Open Sans", sans-serif;
$font-title: "Merriweather", serif;
$font-cards: "Montserrat", sans-serif;

//Colors
$color-black: #000000;
$color-primary: #114e4e;
$color-secondary: #54585a;
$color-background-cards: #ffffff;
$color-background-landing: #f5f5f5;
$color-icons: #e17334;
$color-footer-text: #6b6b6b;
$color-placeholder: #c5c5c5;
//Color for Cards-photo section
$colorBackSilver: #bfcdd0;
$colorBackGrey: #dde9ed;
$color-shadow1: rgba(0, 0, 0, 0.2);
$color-shadow2: rgba(0, 0, 0, 0.35);
//Palette 1
$color-palette1-dark: #114e4e;
$color-palette1-medium: #438792;
$color-palette1-light: #a2deaf;
$color-background1: #bbebc5;
//Palette 2
$color-palette2-dark: #420101;
$color-palette2-medium: #bd1010;
$color-palette2-light: #e95626;
$color-background2: #ee8d6d;
//Palette 3
$color-palette3-dark: #3e5b65;
$color-palette3-medium: #eab052;
$color-palette3-light: #a0c0cf;
$color-background3: #b6d9e9;
//Palette 4
$color-palette4-dark: #5c154c;
$color-palette4-medium: #c037c5;
$color-palette4-light: #efa9f1;
$color-background4: #f0c1f1;
