.collapsable--close {
  .hidden__container {
    display: none;
  }
  .fa-leaf {
    color: #545454;
    animation: intro;
    animation-timing-function: ease;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
  }
}

//Animación (esta o similar) a modo de sugerencia
/* .fa {
  animation: intro;
  animation-timing-function: ease 2;
  animation-duration: 3s;
  animation-iteration-count: 1;
} */

@keyframes intro {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
