.design {
  width: 100%;
  background-color: $color-background-cards;
  display: flex;
  justify-content: space-between;

  &__label {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
  }
  &__radio {
    margin-right: 10px;
  }

  &__title {
    text-transform: uppercase;
    color: $color-secondary;
    font-size: 14px;
    margin: 22px 0px 0px 39px;
  }

  &__square {
    display: flex;
    flex-direction: row;
    margin-right: 25px;
    &--color {
      color: transparent;
      background-color: red;
      width: 30px;
      height: 25px;
    }
  }
}
.color1 {
  background-color: $color-palette1-dark;
}
.color2 {
  background-color: $color-palette1-medium;
}
.color3 {
  background-color: $color-palette1-light;
}
.color4 {
  background-color: $color-palette2-dark;
}
.color5 {
  background-color: $color-palette2-medium;
}
.color6 {
  background-color: $color-palette2-light;
}
.color7 {
  background-color: $color-palette3-dark;
}
.color8 {
  background-color: $color-palette3-medium;
}
.color9 {
  background-color: $color-palette3-light;
}
