.fill {
  margin-top: 10px;
  margin-bottom: 10px;
  &__form {
    margin: 25px 19px 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(14, 1fr, 75px);
    &--labels {
      font-family: $font-primary;
      font-size: 14px;
      color: $color-palette1-dark;
      line-height: 20px;
    }
    &--inputs {
      width: 281px;
      height: 30px;
      border: solid 1px $color-palette1-light;
      margin-top: 7px;
      margin-bottom: 20px;
      padding: 3px 0 7px 9px;
      ::placeholder {
        font-family: $font-primary;
        font-size: 14px;
        color: $color-placeholder;
        line-height: 20px;
      }
    }
    &--image-profile {
      display: flex;
      flex-direction: column;
    }
    &--button {
      background: $color-icons;
      width: 140px;
      height: 30px;
      border: solid $color-icons;
      border-radius: 3px;
      box-shadow: 0 0 4px 0 $color-black;
      margin-bottom: 20px;
      text-align: center;
      font-family: $font-primary;
      font-size: 14px;
      color: $color-background-cards;
      margin-top: 10px;
    }
    &--box {
      width: 30px;
      height: 30px;
      border: solid 1px $color-palette1-light;
      margin-left: 20px;
      margin-top: 9px;
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
}
.button-box-container {
  display: flex;
  width: 100%;
}
.js__profile-upload-btn {
  display: none;
}
