.footer {
  border-top: solid 1px #d8d8d8;
  background: $color-background-cards;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 18px 61px 20px;

  @media all and (min-width: 768px) {
    flex-direction: row;
    padding: 10px 40px;
  }
  &__small {
    font-family: $font-primary;
    color: rgba(107, 107, 107, 0.5);
    text-align: center;
    size: 14px;
    line-height: 20px;
    width: 100%;
    margin-bottom: 12px;

    @media all and (min-width: 768px) {
      text-align: left;
      margin: 8px 0 12px;
    }
  }
  &__img {
    height: 40px;
    width: 103px;
  }
}

@media all and (min-width: 768px) {
  .footer .central-column {
    padding: 0px;
  }
}
