.main {
  //background-color: $color-background-landing;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  height: calc(50vh - 55px);
  @media all and (min-width: 768px) {
    height: calc(50vh - 30.5px);
  }
  &__title {
    font-family: $font-title;
    font-size: 19.2px;
    font-weight: 900;
    color: #ffffff;
    @media all and (min-width: 768px) {
      font-size: 24px;
    }
  }
  &__subtitle {
    font-size: 12.8px;
    color: #cfc5a5;
    @media all and (min-width: 768px) {
      font-size: 16px;
      width: 331px;
    }
  }
  &__button {
    margin-top: 38.6px;
    /* margin-bottom: 30px; */
    width: 129px;
    height: 42px;
    border-radius: 21px;
    background-color: #545454;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-duration: 2s;
    animation-name: scale;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    @media all and (min-width: 768px) {
      /*  margin-top: 186px; */
      /*       margin-bottom: 59px;
 */
    }
    &--link {
      color: $color-background-cards;
      text-transform: uppercase;
      text-decoration: none;
      text-align: center;
      font-weight: 600;
    }
  }
}
@keyframes scale {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
.article {
  width: 268px;
  border-radius: 4px;
  border: solid 1.6px rgba(255, 255, 255, 0.6);
  padding: 15px 20px 9.8px 20px;
  margin-top: 17.8px;
  @media all and (min-width: 768px) {
    width: 325px;
    margin-top: 27px;
    padding: 10px 20.5px 10px 19.5px;
  }

  &__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &--item {
      display: flex;
      flex-direction: column-reverse;
      font-size: 12.8px;
      color: whitesmoke;
      @media all and (min-width: 768px) {
        font-size: 16px;
      }
    }
    &--icon {
      color: wheat;
      font-size: 22.4px;
      @media all and (min-width: 768px) {
        font-size: 28px;
      }
    }
  }
}
.transparent-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(68, 66, 66, 0.5);
  padding: 10px 10px;
}
