.main {
  background-color: $color-background-landing;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 46.69vh;
  @media all and (min-width: 768px) {
    height: 46.63vh;
  }
  &__title {
    font-family: $font-title;
    font-size: 19.2px;
    font-weight: 900;
    color: $color-icons;
    @media all and (min-width: 768px) {
      font-size: 24px;
    }
  }
  &__subtitle {
    font-size: 12.8px;
    color: $color-primary;
    @media all and (min-width: 768px) {
      font-size: 16px;
      width: 331px;
    }
  }
  &__button {
    margin-top: 38.6px;
    margin-bottom: 30px;
    width: 129px;
    height: 42px;
    border-radius: 21px;
    background-color: $color-palette1-dark;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media all and (min-width: 768px) {
      margin-top: 186px;
      margin-bottom: 59px;
    }
    &--link {
      color: $color-background-cards;
      text-transform: uppercase;
      text-decoration: none;
      text-align: center;
      font-weight: 600;
    }
  }
}
.article {
  width: 268px;
  border-radius: 4px;
  border: solid 1.6px rgba(225, 115, 52, 0.2);
  padding: 15px 20px 9.8px 20px;
  margin-top: 17.8px;
  @media all and (min-width: 768px) {
    width: 325px;
    margin-top: 27px;
    padding: 10px 20.5px 10px 19.5px;
  }

  &__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &--item {
      display: flex;
      flex-direction: column-reverse;
      font-size: 12.8px;
      color: $color-secondary;
      @media all and (min-width: 768px) {
        font-size: 16px;
      }
    }
    &--icon {
      color: $color-icons;
      font-size: 22.4px;
      @media all and (min-width: 768px) {
        font-size: 28px;
      }
    }
  }
}
