.main-cards {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    to bottom,
    $color-background-landing,
    $color-background-cards 9%
  );
}
.section-title {
  margin: 0 19px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.title {
  font-family: $font-primary;
  font-weight: 600;
  font-size: 18px;
  color: $color-secondary;
  margin: 0 67px 2 10px;
}

.title1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #54585a;
}

.page-cards .article__list--icon {
  color: $color-icons;
  font-size: 18px;
}

.fa {
  font-size: 18px;
}

.fa-leaf {
  color: #545454;
}

@media all and (min-width: 768px) {
  .main-cards {
    &__sections {
      display: flex;
      flex-direction: row-reverse;
      justify-content: stretch;
      &--form {
        width: 38%;
      }
    }
  }
}
